<div class = "container">
	<h1>Welcome <%= @user.handle %></h1>
	<br>
	<br>
	<h1> Your accounts: </h1>
	<ul>
		<% @user.accounts.each do |account| %>
		<li> <a href="/users/<%=@user.id%>/accounts/<%= account.id %>/manipulations"> <%= account.account_type%></a>
		<br> Balance: <%= account.balance %>
		</li>
		<% end %>
	</ul>
	<form action='/logout' method='get'>
	  <input type='submit' value='logout'>
	</form>
</div>

